*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 70px;
    height: 44px;
    background: #212121;
    z-index: 2;
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu_link{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
.menu_item{
    border-right:2px #000 dotted ;
    padding-right: 50px;
}

.menu_item:last-child{
    border-right: none;
}

.subheader{
    margin-top: 44px;
    position: absolute;
    width: 100%;
    min-height: 85px;
    background-color:rgba(0,0,0, 0.6);
}

.subheader_logo{
    display: block;
    margin-top: 16px;
    min-width: 100%;
}

.subheader_official{
    margin-top: 6px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-bottom: 16px;
}
.subheader_call{
    margin-top: 19px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    text-align: right;
}

.subheader_tell{
    display: block;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.subheader_btn{
    box-sizing: border-box;
    margin: 20px auto;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

section.promo{
    min-height: 800px;
    background:url('../img/bg/bg_promo.png') center center/cover no-repeat ;
    padding: 150px 0 135px;
}

.promo_header{
    margin: 0;
    margin-top: 67px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo_subheader{
    margin: 0;
    margin-top: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo_txt{
    margin: 0;
    margin-top: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo_btn{
    display: block;
    margin: 118px auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
section.reazon{
    padding: 70px 0 64px 0;
}
.substrate{
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;

    padding-top: 9px;
    text-align: center;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.reazon_header{
    margin-top: 38px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    text-transform: uppercase;
    color: #222222;

}
.reazon_item{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.reazon_img{
    margin-right: 26px;
}

.reazon_descr{
    min-height: 142px;
    width:342px;

}

.reazon_subheader{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.reazon_txt{
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}